.short-description{
    font-size: 1.4em;
}

#contribute-btn{
    display: inline;
}

#amount{
    font-size: 1.7em;
}

.error-text{
    font-size: 1.4em;
}

.static-form-holder {
    width: 241px;
    margin: 0 auto;
    text-align: center;
}

[data-braintree-id="toggle"] {
    display: none;
}