@model LobbyingMadeSimple.Web.Models.FundViewModel

<div class="col-sm-12">
    <div class="progress col-sm-6 col-sm-offset-3">
        <div class="progress-bar progress-bar-custom"
             role="progressbar"
             aria-valuenow='@Model.GetPrettyFundingPercentage()'
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: @Model.GetPrettyFundingPercentage()%;">

            <span class="funding-info"><span class="funding-goal">$@Model.FundingRaised</span> / $@Model.FundingGoal</span>

        </div>
    </div>
</div>