@using LobbyingMadeSimple.Web.Models
@model IEnumerable<FundViewModel>

@{
    ViewBag.Title = "Fund";
}

<h2>Fund</h2>

<hr />

@foreach (FundViewModel vm in Model)
{
    @Html.Partial("_FundIssue", vm)
}