@using LobbyingMadeSimple.Models
@model List<Issue>

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Lobbying Made Easy</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Recently Posed Issues</h3>
        <p>(Must be above 67% to get approval)</p>
        <hr />
        @foreach (var issue in Model)
        {
            @Html.Partial("_HomepageIssue", issue);
        }
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Fundable Issues</h3>
        <hr />
        <h4>Get Lobbyists out of Washington</h4>
        <p>
            It's ironic I'm paying a lobbyist to lobby for removing lobbyists, but it's the world I live in.
        </p>
        <p><a class="btn btn-default" href="#">Contribute</a></p>
    </div>
</div>