@using LobbyingMadeSimple.Web.Models
@model HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Lobbying Made Easy</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Most Voted Issues</h3>
        <p>(Must be above 67% to get approval)</p>
        <hr />
        @foreach (var issue in Model.VotableIssues)
        {
            @Html.Partial("_VotableHomepageIssue", issue);
        }
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Fundable Issues</h3>
        <p>(Donate to issues you want to see dealt with)</p>
        <hr />
        @foreach (var fundableIssue in Model.FundableIssues)
        {
            @Html.Partial("_FundableHomepageIssue", fundableIssue)
        }
    </div>
</div>