@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Lobbying Made Easy</h1>
    </div>
    <div class="col-xs-12 col-sm-8">
        <h3>Recently Posed Issues</h3>
        <hr />
        <div class="issue">
            <h4>Dakota Access Pipeline</h4>
            <p class="approval">Approval Percentage: <span class="approval-rating">65</span>%</p>
            <p class="votes">Votes Needed: <span class="votes-needed">125</span></p>
            <p>
                This issue has plagued our city for long enough! I would like to issue a call to action
                to all politicians to end this issue!
            </p>
            <p><a class="btn btn-default" href="#">Read Specifics</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Fundable Issues</h3>
        <hr />
        <h4>Get Lobbyists out of Washington</h4>
        <p>
            It's ironic I'm paying a lobbyist to lobby for removing lobbyists, but it's the world I live in.
        </p>
        <p><a class="btn btn-default" href="#">Contribute</a></p>
    </div>
</div>